<section id="secondBlock-{{ section.id }}" class="page-width section-{{ section.id }}-padding" data-section="{{ section.id }}">
    aaa
</section>

{% schema %}
{
  "name": "second-block",
  "tag": "section",
  "class": "section",
  "blocks": [
  ],
  "settings": [
  ]
}
{% endschema %}