/* Vital Styles */
@font-face {
  font-family: 'Tungsten';
  src: url('Tungsten-Bold.eot');
  src: url('Tungsten-Bold.eot?#iefix') format('embedded-opentype'),
      url('Tungsten-Bold.woff2') format('woff2'),
      url('Tungsten-Bold.woff') format('woff'),
      url('Tungsten-Bold.ttf') format('truetype'),
      url('Tungsten-Bold.svg#Tungsten-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.paul-title{
  font-family: 'Tungsten';
  font-size: 4.2rem;
  line-height: 4.7rem;
  margin: 0;
}

.paul-subtitle{
  font-family: 'Tungsten';
  font-size: 3.1rem;
  line-height: 2.375rem;
}

.paul-text{
  font-family: 'Roboto';
  font-size: 1.3rem;
  line-height: 2rem;
}

.paul-text--big{
  font-family: 'Roboto';
  font-size: 1.125rem;
  line-height: 1.625rem;
}

.paul-text--white{
  color: #FFFFFF;
}

.paul-text--gray{
  color: #C9C9C9;
}

.paul-remove-style--ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.paul-animation{
  -webkit-transition: all 0.6s cubic-bezier(0.45,0.05,0.55,0.95);;
  transition: all 0.6s cubic-bezier(0.45,0.05,0.55,0.95);;
}

@media (min-width: 768px) {
  .paul-title{
    font-size: 5.2rem;
    line-height: 5.7rem;
  }
  
  .paul-subtitle{
    font-size: 2.4rem;
    line-height: 2.37rem;
  }

  .paul-text{
    font-size: 1.6rem;
    line-height: 3.4rem;
  }
  
  .paul-text--big{
    font-size: 1.8rem;
  }
}


/* Reset Styles Shopify */
.button::after{
  content: none;
}

p, label, span{
  font-family: 'Roboto';
  font-size: 1.3rem;
}

@media (min-width: 768px) {
  p, label, span{
    font-size: 1.6rem;
  }
}

/* Main Product */
.main-product {
  max-width: none;
}

.main-product__body {
  max-width: var(--page-width);
  padding: 3.2rem 0;
}

.main-product__slider{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main-product__img > img{
  max-height: 29.6rem;
}

.main-product__arrow{
}

.main-product__arrow .arrow{
  position: absolute;
  bottom: 50%;
  cursor: pointer;
  transform: translateY(50%);
}

.main-product__arrow .arrow--left{
  right: 0;
}

.main-product__arrow .arrow--right{
  transform: rotateY(180deg) translateY(50%);
  left: 0;
}

.main-product__description{
  padding: 0 0 2.4rem;
}

.main-product__description h1{
  padding: 0 0 3.6rem;
}

.main-product__description p{
  margin: 0;
}

.main-product__description p:last-child{
  padding: 1.6rem 0 0;
}

.main-product__description p:last-child > img{
  transform: translateY(0.375rem);
}

.main-product__description--features + p{
  padding: 0 0 1.6rem;
  font-family: 'Tungsten';
  font-size: 2.1rem;
}

.main-product__buy{

}

.main-product__price{
  padding: 0 0 1.6rem;
  display: flex;
  flex-direction: column-reverse;
  gap: 0.5rem;
}

.main-product__select {
  display: flex;
  flex-direction: column;
  position: relative;
}

.main-product__select > label{
  padding: 0 0 1.2rem;
}

.main-product__select > select{
  border-radius: 4px;
  border: none;
  padding: 1rem 1.3rem;
  background-color: #4D4D4D;
  color: #C4C4C4;
  appearance: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.main-product__select > select + .arrow{
  position: absolute;
  color: #C4C4C4;
  right: 1rem;
  bottom: 2rem;
  line-height: 0;
  transform: rotateX(180deg);
}

.main-product__select > select:focus + .arrow{
  transform: rotateX(0deg);
}

.main-product__btn-buy{
  padding: 1.5rem 0 0;
}

.main-product__btn-buy > a {
  border-radius: 4px;
  display: flex;
  background: linear-gradient( #E9CA51 1.47%, #9A7640 100%);
  box-shadow: inset 0px 1px 0px #FFDC22;
}

.main-product__btn-buy > a > svg{
  margin: 0 0 0 1.4rem;
}

@media (min-width: 768px) {
  .main-product__body {
    padding: 9.4rem 0 12.4rem;
    max-width: none;
    display: grid;
    grid-template-columns: 31.8rem minmax(auto, 48rem) minmax(20rem, 1fr);
    grid-template-rows: 1fr;
  }

  .main-product__slider{
    grid-column: 2 / 3;
    grid-row: 1/ 2;
    position: static;
  }

  .main-product__img {
    max-width: 64rem;
    position: relative;
    display: flex;
    justify-content: center;
  }

  .main-product__img > img{
    max-height: 100%;
    width: calc(100% - 9.2rem);
  }
  
  .main-product__arrow .arrow{
    border-radius: 50%;
    border: 1px solid #4C4C4C;
    width: 4.6rem;
    height: 4.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #252525 0%, #000000 100%);;
  }

  .main-product__description{
    grid-column: 1 / 2;
    grid-row: 1/ 2;
  }

  .main-product__description--features + p{
    padding: 0 0 2rem;
  }

  .main-product__buy{
    grid-column: 3 / 4;
    grid-row: 1/ 2;
  }

  .main-product__price{
    flex-direction: row;
    position: relative;
  }

  .main-product__price > strike{
    align-self: center;
    font-size: 3.1rem;
  }

  .main-product__btn-buy{
    padding: 3.8rem 0 0;
  }
}

@media (min-width: 1200px) {
  .main-product__body {
    grid-template-columns: 1fr minmax(auto, 58rem) 1fr;
  }
}

/* Second Block */

.second-block{
}

.second-block__main{
  padding: 3.6rem 0 3.9rem;
}

.second-block__title{
  margin: 0 auto;
  padding: 0 0 2rem;
  max-width: 82.2rem;
  text-align: center;
}

.second-block__body{
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.second-block__feature{
  border-radius: 3px;
  padding: 1rem;
  display: flex;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.05);
}

.second-block__img{
  width: 5.5rem;
  height: 5.5rem;
}

.second-block__text{
  margin: 0;
  padding: 0 0 0 1.2rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  .second-block__main{
    padding: 8.5rem 0 12.6rem;
  }
  
  .second-block__title{
    padding: 0 0 13.5rem;
  }
  
  .second-block__body{
    flex-direction: row;
    gap: 3.1rem;
    align-items: stretch;
    justify-content: space-between;
  }
  
  .second-block__feature{
    padding: 11.3rem 2.4rem 5rem;
    max-width: 26rem;
    flex-direction: column;
    position: relative;
    flex-basis: 25%;
  }
  
  .second-block__img{
    position: absolute;
    top: 0;
    width: 10.4rem;
    height: 10.4rem;
    transform: translateY(-25%);
  }
  
  .second-block__text{
    padding: 0;
    text-align: center;
  }
}

/*  Third Block */

.third-block{

}

.third-block__body{
  padding: 3.7rem 0 0;
}

.third-block__title{
  
}

.third-block__title--first{
 margin: 0;
 text-align: center;
}

.third-block__title--second{
  padding: 0 0 2rem;
  text-align: center;
}
.third-block__table{
  padding: 0 0 3.2rem;
}

.third-block__table img{
  width: 100%;
  height: auto;
}

.third-block__description {
  padding: 4rem 1.8rem 4.2rem;
  background: linear-gradient(180deg, #292929 17.71%, #111111 66.15%);
  border-radius: 5px;
}

.third-block__description p {
  color: #FFFFFF;
}

.third-block__description p:first-of-type {
  margin-top: 0;
  text-align: center;
}

.third-block__description p:last-of-type {
  margin-bottom: 0;
}

.third-block__description p:nth-child(0n+4) {
  text-align: center;
}

.third-block__description #icon-list{
  position: relative;
  padding-top: 0.5rem;
  padding-left: 32px;
}

.third-block__description #icon-list:before{
  content:'';
  width: 25px;
  height: 20px;
  position: absolute; 
  top: 2px;
  left: 0;
  z-index: 10; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  .third-block__body{
    padding: 6.4rem 0 8.8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr auto;
    gap: 0 5.7rem;
  }
  
  .third-block__title{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  
  .third-block__title--first{
   margin: 0;
   padding: 0 0 1.6rem;
   text-align: initial;
  }
  
  .third-block__title--second{
    padding: 0 0 2.4rem;
    text-align: initial;
  }
  .third-block__table{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
  
  .third-block__table img{
    width: 100%;
    height: auto;
  }
  
  .third-block__description {
    border-radius: 0;
    padding: 0;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background: none;
  }
  
  .third-block__description p:first-of-type {
    text-align: initial;
  }
  
  .third-block__description p:nth-child(0n+4) {
    padding-bottom: 1.6rem;
    text-align: initial;
  }
  
  .third-block__description #icon-list{
    position: relative;
    padding-top: 0.5rem;
    padding-left: 32px;
  }
  
  .third-block__description #icon-list:before{
    content:'';
    width: 25px;
    height: 20px;
    position: absolute; 
    top: 2px;
    left: 0;
    z-index: 10; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* Fourth Block */

.fourth-block{

}

.fourth-block__body{
  padding: 10.9rem 0 2.1rem;
}

.fourth-block__table{
  border: 2px solid #D3AB3E;
  border-bottom: transparent;
  border-radius: 10px;  
  padding: 3.5rem 1.8rem 6rem;
  position: relative;
  background: linear-gradient(180deg, #0F0F0F 67.89%, rgba(15, 15, 15, 0) 100%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-align: center;
}

.fourth-block__description{

}

.fourth-block__img{
  width: 10.4rem;
  height: auto;
  position: absolute;
  top: 0;
  transform: translateY(-60%) translateX(-50%);
}

.fourth-block__title{
  padding: 0 0 1.6rem;
}

.fourth-block__description p {
  color: #FFFFFF;
  margin: 0;
}

@media (min-width: 768px) {
  .fourth-block{

  }
  
  .fourth-block__body{
    padding: 9.8rem 0;
  }
  
  .fourth-block__table{
    margin: 0 auto;
    border: 2px solid #D3AB3E;
    border-bottom: 1px solid #D3AB3E;
    padding: 10.1rem 9.6rem 7.4rem;
    max-width: 101.3rem;
    display: flex;
    align-items: center;
    position: relative;
    background: linear-gradient(180deg, #0F0F0F 67.89%, #000000 100%);
    filter: none;
  }
  
  .fourth-block__description{
  
  }
  
  .fourth-block__img{
    width: auto;
    position: relative;
    top: 0;
    transform: none;
  }
  
  .fourth-block__title{
    padding: 0 0 2.8rem;
  }
}